.vote-container {
  text-align: center;  
}

h1 {
  font-family: sans-serif;
}

.vote {
  border: none;
  background: #fff;
  width: 47px;
  height: 21.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.vote:active {
  outline: none;
  border: none;
}
.vote:focus {
  outline: 0;
}

.upArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
}
.upArrow path {
  fill: #BBBBBB;
  fill-rule: evenodd;
  clip-rule: evenodd;
  margin: 0;
}

.downArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
}
.downArrow path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #BBBBBB;
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}

.positive {
    color: #6CC576;
}

.negative {
    color: #FF586C;
}